@import 'abstracts/index';
@import 'components/index';

// Eventually - if needed
// @import 'layout/index';
// @import 'pages/index';
// @import 'themes/index';
// @import 'vendors/index';

@font-face {
	font-family: 'ITCSerifGothicBlackRegular';
	src: url('../fonts/ITCSerifGothicBlackRegular.otf');
  }

  // app/public/fonts/ITCSerifGothicBlackRegular.otf

@font-face {
	font-family: 'ITCSerifGothicStdBlack';
	src: url('../fonts/ITCSerifGothicStdBlack.otf');
}

h1,
h2,
h3 {
  font-family: 'ITCSerifGothicStdBlack';
}

.hero {
  min-height: calc(100vh - 60px);
  font-family: 'ITCSerifGothicStdBlack';

  ul {
    line-height: 1.2;
  }
}

.hero-overlay {
  position: absolute;
  inset: 0;
  top: 60px;
  background-color: rgba(0, 0, 0, 0.35);
}

.nm-dash {
  width: 70%;
}